h1, h2, h3 {
	font-family: 'Dosis', sans-serif;
	color: black;
}
.navbar-nav {

	font-family: 'Dosis', sans-serif;
}

.lead {

	font-family: 'Dosis', sans-serif;
}

.navbar-brand {
	font-family: 'Lobster', cursive;
}
